<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/bookDetail.css">
  <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
  <title>详情</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- 小说详情 -->
    <div class="book_detail">
      <div class="book-info-container">
        <!-- <img :src="bookDetail.img" alt=""> -->
        <img src="<%= info.image %>" alt="" srcset="">
        <div class="book-info">
          <span class="title">
            <%= info.title %></span>
          <span class="type">
            <%= info.type == 1 ? "都市" : "" %> |
            <%= info.zuozhe %>
          </span>
          <span>
            <span class='<%= info.xstype == 1 ? " blue" : "red" %>'>
              <%= info.xstype == 1 ? "已完结" : "连载中" %></span>
            |
            <%= info.zishu %>万字
          </span>
        </div>
      </div>
    </div>
    <!-- 加入书架按钮 -->
    <div class="book-btn">
      <div
       class="add_shelf add">加入书架</div
        >
      <div
       class="add_shelf remove">已添加到书架</div
        >
      <div
       class="read" style="background: #1989fa;color: #fff;display: <%= read.hasrecord ? 'none' : 'inline-block' %>">免费阅读</div
        >
      <div
       class="read" style="background: #1989fa;color: #fff;display: <%= read.hasrecord ? 'inline-block' : 'none' %>">继续阅读</div
        >
    </div>
    <!-- 小说简介 -->
    <span class="desc">
      <%= info.desc %></span>
    <div class="chapter">
      <span class="chapter-title">目录</span>
      <ul class="chapter_list">
        <% for(let i = 0; i < chapters.length; i ++) { %>
        <li data-id="<%= chapters[i].id %>">
          <p>
            <%= chapters[i].title %>
          </p>
          <span class='<%= chapters[i].isvip == 0 ? "free" : "pay" %>'>
            <%= chapters[i].isvip == 0 ? "免费" : "付费" %></span>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/http.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script>
  let bid = "<%= info.id %>",
    id = "<%= read.id %>",
    title = "<%= info.title %>",
    inShelf = "<%= inShelf %>"
  alert(inShelf === false)
  alert("inShelf" + inShelf)
  if (inShelf) {
    $(".add").css({
      "display": "none"
    })
    $(".remove").css({
      "display": "inline-block"
    })
  } else {
    $(".remove").css({
      "display": "none"
    })
    $(".add").css({
      "display": "inline-block"
    })
  }
  $(".read").on("tap", function() {
    window.location.href = "/content?bid=" + bid + "&id=" + id + "&title=" + title;
  })
  chapterClick(bid, title)

  function chapterClick(bid, title) {
    $(".chapter_list").on("tap", "li", function () {
      let id = $(this).attr("data-id")
      console.log("事件监听跳转链接")
      window.location.href = "/content?bid=" + bid + "&id=" + id + "&title=" + title;
    })
  }

  add_shelf(bid)

  function add_shelf(bid) {
    $(".add").on("tap", function () {
      httpRequest("/user/shelf", "get", {
        bid: bid
      }, function (res) {
        if (res.success) {
          $(".add").css({
            "display": "none"
          })
          $(".remove").css({
            "display": "inline-block"
          })
          alert("已添加到书架")
        } else {
          alert(res.err)
        }
      })
    })
    $(".remove").on("tap", function () {
      httpRequest("/user/unshelf", "get", {
        bid: bid
      }, function (res) {
        if (res.success) {
          $(".remove").css({
            "display": "none"
          })
          $(".add").css({
            "display": "inline-block"
          })
          alert("已移出书架")
        } else {
          alert(res.err)
        }
      })
    })
  }
</script>
</html>