<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="Keywords" content="关键词">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bookShelf.css">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
    <script src="/js/rem.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/http.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <title>书架</title>
    <style>
        body {
            background: rgb(240, 243, 248);
            overflow-x: hidden;
        }
    </style>
</head>

<body>
<div class="book_store">
    <% if (result && data ) { %>
        <div class="read-continue">
            <img src="<%= data.image %>" alt="" srcset="">
            <div class="read-info">
                <span class="title"><%= data.title %></span>
                <span class="xstype">
            <span class='<%= data.xstype == 1 ? "blue" : "red" %>'><%= data.xstype == 1 ? "已完结" : "连载中" %></span>
            | <%= data.type == 1 ? "都市" : "" %>
          </span>
                <div class="continue"><img src="/img/continue.png" alt="" srcset=""></div>
            </div>
        </div>
        <div class="books_container">
            <ul class="book_list">
                <% for(let i = 0; i < shelf.length; i++) { %>
                    <li class="book_item" data-id="<%= shelf[i].id %>">
                        <div class="book-grid">
                            <img src="<%= shelf[i].image %>" alt="" srcset="">
                            <span class="title"><%= shelf[i].title %></span>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
        <script>
            $(".continue").on("tap", function () {
                window.location.href = "/content?bid=<%- result.bid %>&id=<%- result.cid %>&title=<%- data.title %>";
            })
        </script>
    <% } else { %>
            <div class="read-continue">
                <img src="<%= book.image %>" alt="" srcset="">
                <div class="read-info">
                    <span class="title"><%= book.title %></span>
                    <span class="xstype">
            <span class='<%= book.xstype == 1 ? "blue" : "red" %>'><%= book.xstype == 1 ? "已完结" : "连载中" %></span>
            | <%= book.type == 1 ? "都市" : "" %>
          </span>
                    <div class="continue"><img src="/img/continue.png" alt="" srcset=""></div>
                </div>
            </div>
            <div class="books_container">
                <i>书架中暂无图书，请先添加</i>
            </div>
        <script>
            $(".continue").on("tap", function () {
                window.location.href = "/bookDetail?id=<%= book.id %>"
            })
        </script>
    <% } %>
</div>
</body>
<script>

    detailClick()

    function detailClick() {
        $(".book_list").on("tap", "li", function () {
            var bid = $(this).attr("data-id"), title = $(this).find("span").text()
            httpRequest("/book/record", "get", {bid: bid}, function (res) {
                if (res.data) {
                    window.location.href = "/content?bid=" + res.data.bid + "&cid=" + res.data.cid + "&title=" + title;
                } else {
                    httpRequest("/book", "get", {
                        id: bid
                    }, function (res) {
                        let data = res.data
                        window.location.href = "/content?bid=" + bid + "&id=" + data.first + "&title=" + title;
                    })
                }
            })
        })
    }
</script>


</html>