<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/chapters.css">
  <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="/css/dropload.css">
  <title>目录</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
  <div class="book-detail">
    <div class="chapter">
      <span class="chapter-title"><%= title %></span>
      <ul class="chapter_list">
        <!--<% for(let i = 0; i < 20; i ++) { %>-->
          <!--<li data-id="<%= data.result[i].id %>">-->
            <!--<p><%= data.result[i].title %></p>-->
            <!--<span class='<%= data.result[i].isvip == 0 ? "free" : "pay" %>'><%= data.result[i].isvip == 0 ? "免费" : "付费" %></span>-->
          <!--</li>-->
        <!--<% } %>-->
      </ul>
    </div>
  </div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.mobile-1.4.5.min.js"></script>
<script src="/js/dropload.min.js"></script>
<script src="/js/http.js"></script>
<script>
  $(async function () {
    let id = location.search.split("=")[1].split("&")[0]
    let title = "<%= title %>"
    let arr = []
    $.ajax({
      url: "/chapter/all?bid=" + id,
      success: function (res) {
        arr = res.data
        $('.book-detail').dropload({
          scrollArea: window,
          domDown: {
            domClass: 'dropload-down',
            domRefresh: '<div class="dropload-refresh">上拉加载更多</div>',
            domLoad: '<div class="dropload-load"><span class="loading"></span>加载中...</div>',
            domNoData: '<div class="dropload-noData">到底了</div>'
          },
          loadDownFn: function (me) {
            setTimeout(function () {
              let html = "", result = arr.splice(0, 20);
              $.each(result, function (i, el) {
                html += `
                <li data-id="${el.id}">
                  <p>${el.title}</p>
                  <span class='${el.isvip == 0 ? "free" : "pay"}'>${el.isvip == 0 ? "免费" : "付费"}</span>
                </li>
              `
              })
              $(".chapter_list").append(html)
              me.resetload();
              if(result.length < 20) {
                // 锁定
                me.lock();
                // 无数据
                me.noData();
                me.resetload();
              }
            }, 500);
          }
        });
      }
    })
    chapterClick(id, title)
  })
</script>
<script>
function chapterClick(bid, title) {
  $(".chapter_list").on("tap", "li", function () {
    let id = $(this).attr("data-id")
    window.location.href = "/content?bid=" + bid + "&id=" + id + "&title=" + title;
  })
}
</script>

</html>