<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/chapters.css">
  <title>目录</title>
  <style>
    body {
      background: rgb(241, 242, 247);
    }
  </style>
</head>

<body>
  <div class="book-detail">
    <div class="chapter">
      <span class="chapter-title"><%= title %></span>
      <ul class="chapter_list">
        <% for(let i = 0; i < data.length; i ++) { %>
          <li data-id="<%= data[i].id %>">
            <p><%= data[i].title %></p>
            <span class='<%= data[i].isvip == 0 ? "free" : "pay" %>'><%= data[i].isvip == 0 ? "免费" : "付费" %></span>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</body>
<script src="/js/rem.js"></script>
<script src="/js/jquery.min.js"></script>
<script>
let id = location.search.split("=")[1].split("&")[0]
let title = "<%= title %>"
chapterClick(id, title)
function chapterClick(bid, title) {
  $(".chapter_list").on("touchstart", "li", function () {
    let id = $(this).attr("data-id")
    window.location.href = "/content?id=" + id + "&bid=" + bid + "&title=" + title;
  })
}
</script>

</html>