<!DOCTYPE html>
<html lang="en" style="font-size:48px">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <meta name="Keywords" content="关键词">
  <meta name="description" content="描述">
  <meta name="baidu_union_verify" content="9bb04fa7d60affbd6588c7404a97178e">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/content.css">
  <script src="/js/rem.js"></script>
  <title>内容</title>
</head>

<body>
<div class="loading" style="position: fixed;width: 100vw;height: 100vh;background: #fff;top: 0;left: 0; z-index:1000;">
  <img style="width: 20px;position: absolute;top: 30%;left: 50%;margin-left: -10px;" src="/img/loading.gif" alt="">
</div>
  <div class="detail">
    <div class="chapter-container">
      <% if (typeof imgUrl !="undefined" && imgUrl) {%>
        <h3 class="article-title"><%= title %></h3>
        <img class="banner-img" src="<%= imgUrl %>" alt="">
      <% } %>
      <!--<div class="setting">-->
        <!--<ul class="color-setting">-->
          <!--<li data-color="#eee" class="color-huise"></li>-->
          <!--<li data-color="#cfc0a9" class="color-shushi"></li>-->
          <!--<li data-color="#cfe5bc" class="color-lvse"></li>-->
          <!--<li data-color="#2c3e50" class="color-heise"></li>-->
        <!--</ul>-->
        <!--<ul class="font-setting">-->
          <!--<li class="font-add">A+</li>-->
          <!--<li class="font-reduce">A-</li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="chapter-content">
        <div class="chapter-name">
          <span><%= data.title %></span>
        </div>
        <div class="chapter-text"><%- data.content %></div>
      </div>
      <ul class="btn-wrapper">
        <li class="change-chapter prev_chapter" style='display: <%= isfirst ? "none" : "block" %>'>
          <img src="/img/prev.png" alt="">
          <span>上一章</span>
        </li>
        <li class="change-chapter next_chapter" style='display: <%= islast ? "none" : "block" %>'>
          <span>下一章</span>
          <img src="/img/next.png" alt="">
        </li>
      </ul>
    </div>
    <% if (!needpay) {%>
      <div class="dialog-wrapper">
        <div class="dialog">
          <div class="dialog-info">
            <p>充值1.00元</p>
            <p>可以阅读30章精彩内容</p>
          </div>
          <div class="dialog-btn">
            <a href="">确定</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div style="display: none;">
    <script type="text/javascript" src="https://s23.cnzz.com/z_stat.php?id=1277353497&web_id=1277353497"></script>
  </div>
  <script appkey='0c768ae53157460547554928c9205959' adSpaceKey='d60b63a746984b7ec0210492eddb3b79' src='https://static.abtech.xyz/static/media.js'></script>
</body>
<script src="/js/cookie.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/http.js"></script>
<script>
  $(function () {
    let id, bid;
      id = <%= id %>;
      bid = <%= bid %>
    document.onreadystatechange = function () {
      if(document.readyState === "complete") {
        $(".loading").remove();
      }
    };
    <!--if(<%= needpay %>) {-->
      <!--$("body").css({'overflow': 'hidden', position: 'fixed'});-->
    <!--} else {-->
      <!--$("body").css({'overflow': 'auto', position: 'relative'});-->
    <!--}-->
    if(<%= needpay %>) {
      $("body").css({'overflow': 'auto', position: 'relative'});
    } else {
      $("body").css({'overflow': 'hidden', position: 'fixed'});
    }
    getBgColor()
    changeBgColor()
    changeChapter(bid, id)
    getFontSize()
    changeFontSize()
  })

  // 切换章节
  function changeChapter(bid, id) {
    $(".prev_chapter").on("click", function() {
      window.location.href = "/content?bid=" + bid + "&id=" + (Number(id) - 1)
    });
    $(".next_chapter").on("click", function() {
      window.location.href = "/content?bid=" + bid + "&id=" + (Number(id) + 1)
    });
  }

  // 是否显示弹窗


  // 获取cookie字体大小
  function getFontSize() {
    let fontSize = getCookie("fontSize");
    if(fontSize) {
      $("body .chapter-content").css({"font-size": fontSize})
    } else {
      $("body .chapter-content").css({"font-size": ".36rem"})
      setCookie("fontSize", ".36rem")
    }
  }

  // 获取cookie背景颜色
  function getBgColor() {
    let bgColor = getCookie("bgColor");
    if(bgColor) {
      $(".media").css("background-color",bgColor)
      isBlack(bgColor)
    } else {
      $(".media").css("background-color",bgColor)
      setCookie("bgColor", "#eee")
    }
  }

  // 修改背景颜色
  function changeBgColor() {
    $(".color-setting").on("click", "li", function () {
      let bgColor = $(this).attr("data-color")
      $(".media").css("background-color",bgColor)
      setCookie("bgColor", bgColor)
      isBlack(bgColor)
    })
  }

  // 是否是黑夜背景
  function isBlack(bgColor) {
    if(bgColor == "#2c3e50") {
      $(".chapter-content, .font-setting, .btn-wrapper").css({color: "#f9f9f9"})
    } else {
      $(".chapter-content, .font-setting, .btn-wrapper").css({color: "#000"})
    }
  }

  // 修改字体大小
  function changeFontSize() {
    let fontSize = getCookie("fontSize");
    let fontNum = Number(fontSize.split("rem")[0])
    $(".font-add").on("click", function() {
      if(fontNum <= 0.4) {
        fontNum += 0.02
        $("body .chapter-content").css({"font-size": fontNum + "rem"})
        setCookie("fontSize", fontNum + "rem")
      }
    })
    $(".font-reduce").on("click", function() {
      if(fontNum > 0.29) {
        fontNum -= 0.02
        $("body .chapter-content").css({"font-size": fontNum + "rem"})
        setCookie("fontSize", fontNum + "rem")
      }
    })
  }
</script>
</html>