<!DOCTYPE html>
<html lang="en" style="font-size:48px">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="Keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="baidu_union_verify" content="9bb04fa7d60affbd6588c7404a97178e">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/content.css">
    <script src="/js/rem.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/jquery.min.js"></script>
    <title><%=url_title?url_title:'在线阅读'%></title>
    <style>
    </style>
</head>

<body>
<div class="detail">
    <div class="chapter-container">
        <% if (typeof imgUrl != "undefined" && imgUrl) { %>
            <h3 class="article-title"><%= title %></h3>
            <img class="banner-img" src="<%= imgUrl %>" alt="">
        <% } %>
        <div class="chapter-content">
            <div class="chapter-name">
                <span><%= data.title %></span>
            </div>
            <div class="chapter-text"><%- data.content %></div>
        </div>
        <ul class="btn-wrapper">
            <li class="change-chapter prev_chapter" style='display: <%= isfirst ? "none" : "block" %>'>
                <img src="/img/prev.png" alt="">
                <span>上一章</span>
            </li>
            <% if (isWXchat) { %>
                <li class="to-chapters"><span>目录</span></li>
            <% } %>
            <li class="change-chapter next_chapter" style='display: <%= islast ? "none" : "block" %>'>
                <span>下一章</span>
                <img src="/img/next.png" alt="">
            </li>
        </ul>

    </div>

    <!--引导关注公众号-->
    <% if(!isWXchat && dis && dis.official.name){ %>
        <div class="footer-message-nourl">
            <!--<textarea id="foo"></textarea>-->
            <!--<img class="copy-btn" src="<%= dis.official.image %>" alt="">-->
            <!--<div class="content-p">-->
                <!--<p>点击图片关注微信公众号</p>-->
                <!--<p>关注后回复<span class="font-red"><%= bid %></span>继续阅读</p>-->
                <!---->
            <!--</div>-->
            <!--有可能回复不是bid 还可能是其他 -->
            <p class="btn-color">
                <span class="left-line line"></span>篇幅限制，未完待续<span class="right-line line"></span>
            </p>
            <p>关注公众号：<span class="font-red"><%= dis.official.name %></span></p>
            <textarea id="foo"></textarea>
            <p>
                <a class="copy-btn">点此快速关注</a>
            </p>
            <p>回复 <span class="font-red"><%= bid %></span> ,就可以继续阅读下文啦！</p>
            <p>如何关注？</p>
            <p>打开微信→搜索→公众号→</p>
            <p>输入 <span class="font-red"><%= dis.official.name %></span> 确认搜索关注后</p>
            <p>就可以啦！</p>
        </div>
        <script>
          function bind_copy() {
            var btn = document.getElementsByClassName('copy-btn')[0]
            var copy = function () {
              var b = document.getElementById('foo')
              b.value = "<%= dis.official.name %>";
              b.select();
              b.setSelectionRange(0, b.value.length);
              if (document.execCommand('copy', false, null)) {
                b.remove()
              }
            };
            btn.addEventListener('click', function () {
              copy()
              alert("微信网页提示：\n\n1.公号已成功复制\n\n2.点击确定前往微信添加公众号");
              window.location.replace('weixin://');
            });
          }

          bind_copy()
        </script>
    <% } %>
    <% if (needpay) { %>
    <div class="dialog-wrapper">
        <div class="dialog">
            <div class="dialog-info">
                <p>充值<%= rule_data.price %>元</p>
                <p>可以阅读<%= rule_data.end-rule_data.start+1 %>章精彩内容</p>
            </div>
            <div class="dialog-btn">
                <span>确定</span>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
  //判断是否是微信浏览器的函数
  function isWeiXin() {
    //window.navigator.userAgent属性包含了浏览器类型、版本、操作系统类型、浏览器引擎类型等信息，这个属性可以用来判断浏览器类型
    var ua = window.navigator.userAgent.toLowerCase();
    //通过正则表达式匹配ua中是否含有MicroMessenger字符串
    if (ua.match(/MicroMessenger/i) == 'micromessenger') {
      return true;
    } else {
      return false;
    }
  }

  $(function () {
    let id, bid, pay_domain, wxpay_domain;
    id = <%= id %>;
    bid = <%= bid %>;
    pay_domain = '<%= pay_domain %>';
    wxpay_domain = '<%= wxpay_domain %>';
    let rid = '<%= rule_data._id %>';
    /*
    document.onreadystatechange = function () {
      if(document.readyState === "complete") {
        $(".loading").remove();
      }
    };
    */
    if (<%= needpay %>) {

      //打印跳转
      var pay_url = location.protocol + '//' + pay_domain + '/alipay?rid=' + rid + '&uid=' + getCookie('h5_novels') + '&distribution=' + getCookie('h5_channels') + '&back=' + encodeURIComponent(location.href);
      console.log(pay_url)


      $("body").css({'overflow': 'hidden', position: 'fixed'});
      $(".dialog-btn").click(payhref)

      function payhref() {
        if (!isWeiXin()) {
          var pay_url = location.protocol + '//' + pay_domain + '/alipay?rid=' + rid + '&uid=' + getCookie('h5_novels') + '&distribution=' + getCookie('h5_channels') + '&back=' + encodeURIComponent(location.href);
          console.log(pay_url)
          location.href = pay_url
        } else {
          //微信js 支付
          var pay_url = location.protocol + '//' + wxpay_domain + '/wxpay/?rid=' + rid + '&uid=' + getCookie('h5_novels') + '&distribution=' + getCookie('h5_channels') + '&back=' + encodeURIComponent(location.href);
          console.log(pay_url)
          location.href = pay_url
        }
      }
    } else {
      $("body").css({'overflow': 'auto', position: 'relative'});
    }
    changeChapter(bid, id);
    toChapters(bid);
  })

  // 跳转目录
  function toChapters(bid) {
    $(".to-chapters").on("click", function () {
      window.location.href = "/chapters?bid=" + bid;
    })
  }

  // 切换章节
  function changeChapter(bid, id) {
    $(".prev_chapter").on("touchstart", function () {
      window.location.href = "/content?bid=" + bid + "&id=" + (Number(id) - 1)
    });
    $(".next_chapter").on("touchstart", function () {
      window.location.href = "/content?bid=" + bid + "&id=" + (Number(id) + 1)
    });
  }

  // 是否显示弹窗
</script>


<!--  广告  -->

<% if (dis && dis.adzones) { %>
    <% for(key in dis.adzones){ %>
        <% if (key == 'doumeng') { %>
            <!--  豆盟 -->
            <script type="text/javascript" src="/js/doumeng.js"></script>
        <% }else if(key == 'sougou'){ %>
            <!--  搜狗广告代码  -->
            <script async="async" src="http://src.inte.sogoucdn.com/wap/js/aw.js"></script>
            <script type="text/javascript">
              var sougou = {}
              sougou.setelm = function ($e, key) {
                $e.attr('id', 'sogou_wap_<%= dis.adzones[key].adkey %>')
                window.sogou_un = window.sogou_un || [];
                window.sogou_un.push({id: '<%= dis.adzones[key].adkey %>', ele: $e[0]});
              }
            </script>
            <!-- <script type="text/javascript" src="/js/sougou.js"></script> -->
        <% } %>
    <% } %>
<% } %>

<script type="text/javascript">
  var $arrs = []

  //头部广告
  var $adzone1 = $('<div class="adzone doumeng"></div>')
  $('.chapter-content').before($adzone1)
  $arrs.push($adzone1)

  //尾部广告
  var $adzone2 = $('<div class="adzone doumeng"></div>')
  $('.chapter-content').after($adzone2)
  $arrs.push($adzone2)

  //文章页面中广告
  var ps = $('.chapter-text').find('p')
  var adcount = parseInt(ps.length / 15) //15个P标签展示一个广告
  adcount += ps.length % 15 > 8 ? 0 : -1
  for (var i = 0; i < adcount; i++) {
    var $adzone = $('<div class="adzone doumeng"></div>')
    $(ps[15 * (i + 1)]).after($adzone)
    $arrs.push($adzone)
    //var sogou_div = document.getElementById("sogou_wap_1028619");
  }

  var key = getCookie('h5_channels')
  setAdzone($arrs, key)

  // 加载广告
  function setAdzone($arrs, key) {
    var platforms = [];
      <% if (dis && dis.adzones) { %>
      <% for(key in dis.adzones){ %>
    platforms.push(<%= key %>)
      <% } %>
      <% } %>
    if (platforms.length == 0) {
      return
    }
    for (var i = 0; i < $arrs.length; i++) {
      (function (i) {
        setTimeout(function () {
          var $elm = $arrs[i]
          var platform = randomP(platforms);
          platform.setelm($elm, key)
        }, i * 500)
      })(i)
    }
  }

  function randomP(arr) {
    return arr[parseInt(Math.random() * arr.length)]
  }
</script>

<div style="display: none;">
    <script type="text/javascript" src="https://s23.cnzz.com/z_stat.php?id=1277353497&web_id=1277353497"></script>
</div>

</body>
</html>